html[data-theme-mode="dark"]
  .breadcrumb li.is-active a
    color #9b9baa
  .title
    color #fff
  .card
    background-color #000
    box-shadow 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1)
    color #9b9baa
  //article.article .article-meta, article.article .article-tags
  //  color #9b9baa

  .menu-list a
    color #9b9baa
  .menu-list a:hover
    background-color rgba(153,153,153,0.15)
    color #3273dc
  .menu-list a.is-active
    background-color rgba(153,153,153,0.15)
    color #3273dc

  //.widget .menu-list .tag
  //  background-color #4a4a4a
  //  color #f5f5f5
  //.tag:not(body)
  //  background-color #4a4a4a
  //  color #f5f5f5